﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Converters
@{
    ViewBag.Title = "History";
}

<h2>History</h2>

<script src="~/Scripts/Chart.js"></script>
<div align="center">
    <canvas id="myChart" width="1000" height="600"></canvas>
</div>
<script type="text/javascript">
    var rawData = @Html.Raw(JsonConvert.SerializeObject(Model, new IsoDateTimeConverter(){DateTimeFormat = "mm/dd/yyyy"}));
    
    // Get the context of the canvas element we want to select
    var ctx = document.getElementById("myChart").getContext("2d");
    var myNewChart = new Chart(ctx).Line(rawData);
</script>

