﻿@model PagedList.IPagedList<Copaces.CityCounty.Models.Segment>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Segments";
}

<h2>Segments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Surveyed Segment Only", "Index", new {surveyedSegOnly = true})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SequenceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LaneDirection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LaneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Length)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.InventId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SequenceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaneDirection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaneNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
        <td>
            @Html.ActionLink("View History", "History", new {id = item.InventId}, new{@class="btn btn-default"})
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, pageNum => Url.Action("Index", new {pageNum}))