﻿@model WebManagement.Models.RoadSurvey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoadSurvey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Place.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BleedAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BleedAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BleedDeduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BleedDeduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BleedLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BleedLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlockAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlockDeduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockDeduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlockLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrugAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrugAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrugDeduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrugDeduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrugLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrugLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EdgeAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EdgeAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EdgeDeduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EdgeDeduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EdgeLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EdgeLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFinished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFinished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadLevel1Avg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadLevel1Avg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadLevel1Deduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadLevel1Deduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadLevel2Avg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadLevel2Avg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadLevel2Deduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadLevel2Deduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadLevel3Avg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadLevel3Avg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadLevel3Deduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadLevel3Deduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadLevel4Avg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadLevel4Avg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadLevel4Deduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadLevel4Deduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LossAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LossAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LossDeduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LossDeduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LossLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LossLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatchAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatchAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatchDeduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatchDeduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RavelAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RavelAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RavelDeduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RavelDeduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RavelLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RavelLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReflectAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReflectAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReflectDeduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReflectDeduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReflectLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReflectLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoadId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoadId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutDeduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutDeduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlopeAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlopeAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlopeDeduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlopeDeduct)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
