﻿@model IEnumerable<WebManagement.Models.RoadSurvey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Place.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BleedAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BleedDeduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BleedLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlockAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlockDeduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlockLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrugAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrugDeduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrugLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EdgeAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EdgeDeduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EdgeLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFinished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadLevel1Avg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadLevel1Deduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadLevel2Avg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadLevel2Deduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadLevel3Avg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadLevel3Deduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadLevel4Avg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadLevel4Deduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LossAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LossDeduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LossLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatchAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatchDeduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RavelAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RavelDeduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RavelLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReflectAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReflectDeduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReflectLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoadId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RutAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RutDeduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlopeAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlopeDeduct)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Place.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BleedAvg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BleedDeduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BleedLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlockAvg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlockDeduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlockLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrugAvg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrugDeduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrugLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EdgeAvg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EdgeDeduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EdgeLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFinished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadLevel1Avg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadLevel1Deduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadLevel2Avg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadLevel2Deduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadLevel3Avg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadLevel3Deduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadLevel4Avg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadLevel4Deduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LossAvg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LossDeduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LossLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatchAvg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatchDeduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RavelAvg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RavelDeduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RavelLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReflectAvg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReflectDeduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReflectLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoadId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RutAvg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RutDeduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlopeAvg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlopeDeduct)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
