﻿@model WebManagement.Models.Road

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Road</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Place.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BridgeNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BridgeNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BridgeWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BridgeWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CulvertAndPipeNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CulvertAndPipeNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FunctionalClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FunctionalClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasUnfinishedSurvey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasUnfinishedSurvey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jurisdiction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jurisdiction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastSurveyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastSurveyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PavMarkingCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PavMarkingCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PavWidthMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PavWidthMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PavWidthMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PavWidthMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PavWidthTypical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PavWidthTypical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoulderWidthMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoulderWidthMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoulderWidthMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoulderWidthMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoulderWidthTypical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoulderWidthTypical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurfaceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurfaceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnpavedShoulderWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnpavedShoulderWidth)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
