﻿@model Copaces.CityCounty.Website.Models.DataObjects.Road

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h3>
<div>
    <h4>Road</h4>
    <hr />
    <dl class="list-unstyled">
        <dt>
            @Html.DisplayNameFor(model => model.Place.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.Name) &nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BridgeNum):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BridgeNum)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BridgeWidth):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BridgeWidth)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CulvertAndPipeNum):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CulvertAndPipeNum)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FunctionalClass):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FunctionalClass)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasUnfinishedSurvey):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasUnfinishedSurvey)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jurisdiction):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jurisdiction)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaneNum):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaneNum)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastSurveyDate):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastSurveyDate)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PavMarkingCondition):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PavMarkingCondition)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PavWidthMax):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PavWidthMax)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PavWidthMin):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PavWidthMin)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PavWidthTypical):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PavWidthTypical)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceType):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceType)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoulderWidthMax):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoulderWidthMax)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoulderWidthMin):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoulderWidthMin)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoulderWidthTypical):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoulderWidthTypical)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurfaceType):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurfaceType)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)&nbsp;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnpavedShoulderWidth):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnpavedShoulderWidth)&nbsp;
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
