﻿@model PagedList.IPagedList<Copaces.CityCounty.Website.Models.DataObjects.Road>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Roads";
}


<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box page-header clearfix">
                <div class="filter-block pull-left"><h2>Roads</h2></div>
                <div class="filter-block pull-right pull-down down">
                    <div class="form-group pull-leftleft">
                        <a href="@Url.Action("Create")" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-edit"></i>&nbsp; Create New<span class="sr-only"> </span></a>
                        <a href="@Url.Action("Search", "Segments")" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-search"></i>&nbsp; Search Survey Reports<span class="sr-only"> </span></a>
                    </div>
                </div>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box clearfix">
                       <div class="main-box-body clearfix">
                            <div class="table-responsive clearfix">
                                <table id="table-example" class="table table-hover table-striped sortable">
                                    <thead>
                                        <tr>
                                            <th><span>Road Name</span></th>
                                            <th><span>Jurisdiction</span></th>
                                            <th><span>From</span></th>
                                            <th><span>To</span></th>
                                            <th><span>Survey Status</span></th>
                                            <th><span>Last Survey Date</span></th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @foreach (var item in Model)
                                                {
                                                <tr>
                                                    <td>@Html.ActionLink(item.Name, "RoadSegments", "RoadSegments", new { id = item.Id }, null)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Jurisdiction)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.From)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.To)</td>
                                                    @if ((item.HasUnfinishedSurvey == false) && (item.LastSurveyDate != null))
                                                    {
                                                        <td><span class="label label-success">Complete</span></td>
                                                    }
                                                    else if ((item.HasUnfinishedSurvey == false) && (item.LastSurveyDate == null))
                                                    {
                                                        <td><span class="label label-danger">Not Started</span></td>
                                                    }
                                                    else if ((item.HasUnfinishedSurvey == true) && (item.LastSurveyDate != null))
                                                    {
                                                        <td><span class="label label-warning">Incomplete</span></td>
                                                    }
                                                    <td>@Html.DisplayFor(modelItem => item.LastSurveyDate)</td>
                                                    <td>
                                                        <a href="@Url.Action("Edit", "Roads", new { id = item.Id })" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i>&nbsp; Edit<span class="sr-only"> </span></a>
                                                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i>&nbsp; Delete<span class="sr-only"></span></a>
                                                    </td>
                                                </tr>
                                                }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, pageNum => Url.Action("Index",
    new { placeId = ViewBag.PlaceId, pageNum }))