﻿﻿@model Copaces.CityCounty.Website.Models.DataManagementViewModel
@using PagedList.Mvc;
@using Copaces.CityCounty.Website.Models.DataObjects;
@using Copaces.CityCounty.Website.Utility;
@{
    ViewBag.Title = "Data Management DashBoard";
}


<div class="row clearfix">
    <div class="col-lg-12" id="dataSummary">

        @{
            var data = DataTools.Get_X_Year_Road_Information(Model.placeID).Result;
            var RoadCount = DataTools.GetRoadCount(Model.placeID).Result;
            var totalLength = data.TotalLength;
            var Unfinished_X_yearLength = data.Unfinished_X_yearLength;
            var pctCompletion = data.pct;
            var Finished_X_yearLength = data.Finished_X_yearLength;
            var UninitiatedLength = data.UninitiatedLength;
            var placeId = data.PlaceID;
        }

        <div class="row">
            <div class="col-lg-9">
                <div class="panel-copaces panel">
                    <div class="panel-heading clearfix">
                        <h5 class="panel-title pull-left"><b>Welcome To COPACES for Cities and Counties!</b></h5>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <p>
                                    <b>What We Do: </b>
                                    Welcom to the website for the Computerized Pavement Condition Evaluation System (COPACES). It is designed to indicate te amount and type
                                    of surface distresses on a roadway at the time the survey is taken. The system standardizes the terminology for the type of defects
                                    that can be found on pavement in Georgia and defines the various levels of severity for these defects. This system will allow roads
                                    to be rated objectively statewide.
                                </p>
                                <p>
                                    To the right is the score distribution for @Model.placeID where you can see the number of blocks with corresponding rating. To see the number
                                    of blocks within a score range, simply hover over the section with your mouse.
                                </p>

                            </div>
                            <div class="col-lg-3">
                                <div id="ScoreDistribution">
                                    @{
                                        int[] distribution = DataTools.GetScoreDistribution(Model.placeID).Result;
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="main-box infographic-box colored cgreen-bg">
                        <i class="fa fa-globe"></i>
                        <span class="headline">Survey Progress</span>
                        <span class="value">@data.pct %</span>
                    </div>
                </div>
                <div class="row">
                    <div class="main-box infographic-box colored clgrey-bg">
                        <i class="fa fa-road"></i>
                        <span class="headline">Roads</span>
                        <span class="value">@RoadCount</span>
                    </div>
                </div>
                <div class="row">
                    <div class="main-box infographic-box colored cmgrey-bg">
                        <i class="fa fa-list-alt"></i>
                        <span class="headline">Segments</span>
                        <span class="value">@data.Segments_Count</span>
                    </div>
                </div>
                <div class="row">
                    <div class="main-box infographic-box colored cdgrey-bg">
                        <i class="fa fa-clipboard"></i>
                        <span class="headline">Surveys</span>
                        <span class="value">@data.surveysCount</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-copaces">
                <div class="panel-heading clearfix">
                    <h5 class="panel-title pull-left align clearfix"><b>Survey Progress</b></h5>
                    <div class="btn-group pull-right">
                        <select class="form-control" id="selYear" onclick="changeYear()">
                            <option value="1">One year</option>
                            <option value="2">Two years</option>
                            <option value="3">Three years</option>
                        </select>
                    </div>
                </div>
                <div class="panel-body clearfix">
                    <div class="col-lg-4">
                        <div id="pieChart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="panel panel-copaces">
                <div class="panel-heading clearfix">
                    <h5 class="panel-title pull-left"><b>Monthly Average COPACES Rating</b></h5>
                </div>
                <div class="panel-body clearfix">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="col-lg-6" id="lineChart" style="width: 390px; height: 300px">
                                @{
                                    string[] dateLabels = DataTools.GetDateabels();

                                    // For Line Chart, Calculate avg Copacescc rating score.
                                    int[] avgScore = DataTools.GetAverageScore(Model.placeID).Result;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="panel panel-copaces">
                <div class="panel-heading clearfix">
                    <h5 class="panel-title pull-left"><b>Help</b></h5>
                </div>
                <div class="panel-body clearfix">
                    <p><a href="#">Download the PACES Manual Here</a></p>
                    <p><a href="#">Download the COPACES-CC Tablet App Here</a></p>
                    <p><a href="#">Here is a Link to our Help Services</a></p>
                </div>
            </div>
            <div class="panel panel-copaces">
                <div class="panel-heading clearfix">
                    <h5 class="panel-title pull-left"><b>Key Terms</b></h5>
                </div>
                <div class="panel-body clearfix">
                    <p><b>Road: </b>I'm a ramblin' Wreck</p>
                    <p><b>Segment: </b>From Georgia Tech</p>
                    <p><b>Survey: </b>And a Helluva Engineer!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-copaces">
    <div class="panel-heading clearfix">
        <div class="panel-title pull-left clearfix"><b>Most Recent Surveys</b></div>
    </div>
            <table class="table table-hover table-striped sortable">
                <thead>
                    <tr>
                        <th>Road</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Type</th>
                        <th>Rating</th>
                        <th>Survey Date/Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var allSurveys = Model.SegmentSurveys;
                        foreach (var item in Model.SegmentSurveys)
                        {
                            var RoadName = ApiHelper.GetRoadById(item.RoadId).Result.Name;
                            var seg = ApiHelper.GetSegmentByRoadIdAndSequenceId(item.RoadId, item.SequenceId).Result;
                            <tr>
                                <td>
                                    @Html.ActionLink(RoadName, "RoadSegments", "RoadSegments", new { id = item.RoadId }, null)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => seg.From)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => seg.To)
                                </td>
                                @if (item.IsWindshieldSurvey)
                                {
                                    <td><span class="label cmgrey-bg">Windshield</span></td>
                                    <td class="text-center">
                                        <b>@Html.DisplayFor(modelItem => item.WindshieldScore)</b>
                                    </td>
                                }
                                else
                                {
                                    <td><span class="label label-primary cgreen-bg">COPACES</span></td>
                                    <td class="text-center">
                                        <b>@Html.DisplayFor(modelItem => item.CopacesRating)</b>
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.SegSurveyDate)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", "SegmentSurveys", new { id = item.Id }, new { @class = "btn btn-default" })
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>


@section scripts{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });
        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawPieChart);
        google.setOnLoadCallback(drawLineChart);
        google.setOnLoadCallback(drawScoreChart);
        var FinishedLength_js=@Finished_X_yearLength[0];
        var UnfinishedLength_js=@Unfinished_X_yearLength[0];
        var UninitiatedLength_js=@UninitiatedLength;


        // for year selection
        function changeYear() {
            var year = document.getElementById("selYear").value;
            if(year==="1"){
                FinishedLength_js=@Finished_X_yearLength[0];
                UnfinishedLength_js=@Unfinished_X_yearLength[0];
            }
            if(year==="2"){
                FinishedLength_js=@Finished_X_yearLength[1];
                UnfinishedLength_js=@Unfinished_X_yearLength[1];
            }
            if (year ==="3"){
                FinishedLength_js=@Finished_X_yearLength[2];
                UnfinishedLength_js=@Unfinished_X_yearLength[2];
            }
            drawPieChart();
        }
        // end of year selection

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawPieChart() {
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'FinishedSurvey');
            data.addColumn('number', 'RoadLength');

            data.addRows([
             ['Total Surveyed Length', FinishedLength_js],
             ['Total Unserveyed Length', UnfinishedLength_js+UninitiatedLength_js],
             //['Uninitiated Survey Road Length', UninitiatedLength_js],
            ]);
            // Set chart options
            var options = {'title':'Surveyed Road Length Summary',
                'width':320,
                'height': 300,
                chartArea:{left:15,top:5,width:'100%',height:'100%'},
                colors: ['#007f46', '#696969', '#1d1d1d']};

            // Instantiate and draw our chart, passing in some options.
            var Piechart = new google.visualization.PieChart(document.getElementById('pieChart'));
            Piechart.draw(data, options);
        }

        function drawLineChart() {
            var Linedata = google.visualization.arrayToDataTable([
              ['Date', 'Avg COPACES Rating'],
              ['@dateLabels[5]',  @avgScore[5]],
                  ['@dateLabels[4]',  @avgScore[4]],
                  ['@dateLabels[3]',  @avgScore[3]],
                  ['@dateLabels[2]',  @avgScore[2]],
                  ['@dateLabels[1]',  @avgScore[1]],
                  ['@dateLabels[0]',  @avgScore[0]]
            ]);

            var Lineoptions = {
                color:'#00a65c',
                chartArea:{left:40,top:30,bottom:0,width:'100%'},
                width:400,
                height:315,
                annotations: {
                    textStyle: {
                        bold:true,
                        fontSize:30,
                    }
                },
                vAxis:{
                    title:"Average Rating"
                },
                //title: 'Average COPACES Rating',
                //legend: { position: 'bottom' },
                series: {
                    0: {color: '00a65c'}
                }
            };

            var Linechart = new google.visualization.LineChart(document.getElementById('lineChart'));

            Linechart.draw(Linedata, Lineoptions);
        }



        // start of copacescc score distribution
        function drawScoreChart() {
            // Create the data table.
            var Scoredata = new google.visualization.DataTable();
            Scoredata.addColumn('string', 'FinishedSurvey');
            Scoredata.addColumn('number', 'RoadLength');

            Scoredata.addRows([
             ['Score >90', @distribution[0]],
                 ['Score 80~90', @distribution[1]],
                     ['Score 70~80', @distribution[2]],
                        ['Score 60~70', @distribution[3]],
                            ['Score 50~60', @distribution[4]],
                                ['Score <50', @distribution[5]]
            ]);
            // Set chart options
            var options = {'title':'Copacescc Rating Distribution',
                'width':340,
                'height': 300,
                chartArea:{left:15,top:5,width:'100%',height:'100%'},
                colors: ['#007F46','#357458','#696969','#505050', '#363636', '#1d1d1d']};

            // Instantiate and draw our chart, passing in some options.
            var Scorechart = new google.visualization.PieChart(document.getElementById('ScoreDistribution'));
            Scorechart.draw(Scoredata, options);
        }

    </script>

}