﻿@model Copaces.CityCounty.Website.Models.SegmentSurveyViewModel
@using Copaces.CityCounty.Website.Utility;
@{
    ViewBag.Title = "Segment Details";
}



<div cass="row">
    <div class="col-lg-4">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">Segment Details</h2>
            </header>
            <div class="main-box-body clearfix">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Segment.InventId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Segment.InventId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Segment.SequenceId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Segment.SequenceId)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Segment.From)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Segment.From)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Segment.To)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Segment.To)
                    </dd>




                    <dt>
                        @Html.DisplayNameFor(model => model.Segment.LaneDirection)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Segment.LaneDirection)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Segment.LaneNum)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Segment.LaneNum)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Segment.Length)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Segment.Length)
                    </dd>



                    <dt>
                        @Html.DisplayNameFor(model => model.Segment.SampleLocation)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Segment.SampleLocation)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Segment.HasCurbOrGutter)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Segment.HasCurbOrGutter)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Segment.Remarks)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Segment.Remarks)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Segment.Id }, new { @class = "btn btn-success btn-sm" }) 
                @Html.ActionLink("Back to List", "RoadSegments", "RoadSegments", new { id = Model.Segment.RoadId }, new { @class = "btn btn-info btn-sm" })
            </p>
        </div>
    </div>
</div>

<div class="col-lg-8">
    <div class="table-responsive clearfix">
        <table class="table table-hover table-striped">
            @{
                if (Model.SegmentSurveys.Count == 0)
                {
                    <p>There is no suryvey yet</p>
                }
                else { 


            
            <thead>
              

                <tr>
                    <th class="text-left">Invent. ID:</th>
                    <th>Road Name</th>
                    <th>Seq. ID</th>
                    <th>Survey Type</th>
                    <th>Rating</th>
                    <th>Lane Direction</th>
                    <th>Lane Num.</th>
                    <th>Rater</th>
                    <th>Survey Date/Time</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    @foreach (var item in Model.SegmentSurveys)
                    {
                  <tr>
                    @*<td>@Html.ActionLink(item.InventId.ToString(), "Details", "SegmentSurveys", new { id = item.Id })</td>*@
                      <td><a href="@Url.Action("Details", "SegmentSurveys", new { id = item.Id })">@item.InventId.ToString()</a></td> 
                        <td>@Html.DisplayFor(modelItem => ApiHelper.GetRoadById(item.RoadId).Result.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.SequenceId)</td>
                      @if (item.IsWindshieldSurvey)
                      {
                          <td><span class="label label-default">Windshield</span></td>
                          <td class="text-center">
                              <b>@Html.DisplayFor(modelItem => item.WindshieldScore)</b>
                          </td>
                      }
                      else
                      {
                          <td><span class="label label-primary">COPACES</span></td>
                          <td class="text-center">
                              <b>@Html.DisplayFor(modelItem => item.CopacesRating)</b>
                          </td>
                      }
                        <td>@Html.DisplayFor(modelItem => item.LaneDirection)</td>
                        <td>@Html.DisplayFor(modelItem => item.LaneNum)</td>
                        <td>@Html.DisplayFor(modelItem => item.Rater)</td>
                        <td>@Html.DisplayFor(modelItem => item.SegSurveyDate)</td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })*@
                            @Html.ActionLink("Delete", "Delete","SegmentSurveys", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                </tr>
                    }
            </tbody>
            }
            }
        </table>
    </div>
</div>


        
