﻿@model PagedList.IPagedList<Copaces.CityCounty.Website.Models.DataObjects.Segment>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Segments";
}

<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box page-header clearfix">
                <h2 class="pull-left">Segments</h2>
                <div class="filter-block pull-right">
                    <div class="form-group pull-left left">
                        <p>@Html.ActionLink("Create New", "Create")  |  
                        @Html.ActionLink("Search Segment Surveys", "Search")</p>
                    </div>
                </div>

            </header>
        </div>
    </div>
</div>

<div class="main-box-body clearfix">
    <div class="table-responsive clearfix">
        <table class="table table-hover table-striped sortable">
            <thead>
                <tr>
                    <th><span>Inventory ID</span></th>
                    <th><span>Seq ID</span></th>
                    <th><span>From</span></th>
                    <th><span>To</span></th>
                    <th><span>Lane Direction</span></th>
                    <th><span>Lane Num.</span></th>
                    <th>Length</th>
                    <th>&nbsp;</th>
                 </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                            <b>@Html.ActionLink(item.InventId.ToString(), "Details", new { id = item.Id })</b>
                            </td>
                            <td>
                               @Html.DisplayFor(modelItem => item.SequenceId)
                            </td>
                            <td>
                               @Html.DisplayFor(modelItem => item.From)
                            </td>
                            <td>
                               @Html.DisplayFor(modelItem => item.To)
                            </td>
                            <td>
                               @Html.DisplayFor(modelItem => item.LaneDirection)
                            </td>
                            <td class="text-right">
                               @Html.DisplayFor(modelItem => item.LaneNum)
                            </td>
                            <td class="text-right">
                               @Html.DisplayFor(modelItem => item.Length)
                            </td>
                            <td>
                               @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                               @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </td>
                            <td>
                               @Html.ActionLink("View History", "History", new { id = item.InventId }, new { @class = "btn btn-primary" })
                            </td>
                            </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, pageNum => Url.Action("Index", new { pageNum }))
