﻿@model IEnumerable<WebManagement.Models.SegmentSurvey>
@{
    ViewBag.Title = "Segment Survey";
}

<h2>Segment Surveys</h2>

<p>@Html.ActionLink("Create New", "Create")</p>
<p>@Html.ActionLink("Search & Reporting", "Search")</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoadId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SequenceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CopacesRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWindshieldSurvey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WindshieldScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaneDirection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoadSurveyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegSurveyDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoadId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SequenceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CopacesRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWindshieldSurvey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WindshieldScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaneDirection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaneNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoadSurveyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegSurveyDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
