﻿@model Copaces.CityCounty.Website.Models.RoadSegmentsViewModel

@{
    ViewBag.Title = "RoadSegments";
}



<div class="row">
    <h2 class="col-lg-4 pull-left">@Html.DisplayFor(model => model.road.Name) Information</h2>
    <div class="form-group pull-right">
        <a href="@Url.Action("Edit","Roads", new { id = Model.road.Id })" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-edit"></i>&nbsp; Edit<span class="sr-only"> </span></a>
        <a href="@Url.Action("Index","Roads",null)" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-list"></i>&nbsp; Return to List<span class="sr-only"> </span></a>
    </div>


</div>
<h4 class="text-center"></h4>
<hr />
<div cass="row">
    <div class="col-lg-5">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">Primary Information</h2>
            </header>
            <div class="main-box-body clearfix">
                <dl class="list-unstyled">
                    <dt><b>Road Name:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.Name) &nbsp;</dd>
                    <dt><b>District:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.District)&nbsp;</dd>
                    <dt><b>From:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.From) &nbsp;</dd>
                    <dt><b>To:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.To) &nbsp;</dd>
                    <dt><b>Road ID:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.Id) &nbsp;</dd>
                    <dt><b>Last Survey Date:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.LastSurveyDate) &nbsp;</dd>
                    <dt><b>Survey Status:</b></dt>
                    @if ((Model.road.HasUnfinishedSurvey == false) && (Model.road.LastSurveyDate != null))
                    {
                        <dd><span class="label label-success">Complete</span> &nbsp;</dd>
                    }
                    else if ((Model.road.HasUnfinishedSurvey == false) && (Model.road.LastSurveyDate == null))
                    {
                        <dd><span class="label label-danger">Not Started</span> &nbsp;</dd>
                    }
                    else if ((Model.road.HasUnfinishedSurvey == true) && (Model.road.LastSurveyDate != null))
                    {
                        <dd><span class="label label-warning">Incomplete</span></dd>
                    }
                    <dt><b>Lane Number:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.LaneNum) &nbsp;</dd>
                    <dt><b>Remarks:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.Remarks) &nbsp;</dd>
                </dl>
            </div>
            <header class="main-box-header clearfix">
                <h2 class="pull-left">Road Details</h2>
            </header>
            <div class="main-box-body clearfix">
                <dl class="list-unstyled">
                    <dt><b>Functional Class:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.FunctionalClass) &nbsp;</dd>
                    <dt><b>Surface Type:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.SurfaceType) &nbsp;</dd>
                    <dt><b>Pav. Marking Condition:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.PavMarkingCondition) &nbsp;</dd>
                    <dt><b>Pav. Width Min:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.PavWidthMin) &nbsp;</dd>
                    <dt><b>Pav. Width Max:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.PavWidthMax) &nbsp;</dd>
                    <dt><b>Pav. Width Typical:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.PavWidthTypical) &nbsp;</dd>
                    <dt><b>Min. Shoulder Width:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.ShoulderWidthMin) &nbsp;</dd>
                    <dt><b>Max. Shoulder Width:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.ShoulderWidthMax) &nbsp;</dd>
                    <dt><b>Unpaved Shoulder Width:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.UnpavedShoulderWidth) &nbsp;</dd>
                    <dt><b>City/County:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.PlaceType) &nbsp;</dd>
                    <dt><b># Of Bridges:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.BridgeNum) &nbsp;</dd>
                    <dt><b>Bridge Width:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.BridgeWidth) &nbsp;</dd>
                    <dt><b>Culvert &amp; Pipe Number:</b></dt>
                    <dd>@Html.DisplayFor(model => Model.road.CulvertAndPipeNum) &nbsp;</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="table-responsive clearfix">
            <table class="table table-hover table-striped sortable">
                <thead>
                    <tr>
                        <th class="text-left">Invent. ID:</th>
                        <th>From:</th>
                        <th>To:</th>
                        <th>Lane Direction:</th>
                        <th>Lane Number:</th>
                        <th>Block Length:</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    @{foreach (var item in Model.Segments)
                      {
                    <tr>
                        <td>
                            <b>@Html.ActionLink(item.InventId.ToString(), "Details", "Segments",new { id = item.Id }, null)</b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.From)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.To)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LaneDirection)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LaneNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Length)
                        </td>
                        <td>
                            @Html.ActionLink("Delete this segment", "Delete", "Segments", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                      }
                    }
                    <tr>
                </tbody>
                </table>
                @*<div class="btn btn-default">@Html.ActionLink("Create New Segment", "Create", "Segments", new { RoadId = Model.road.Id })</div>*@
            <a href="@Url.Action("Create", "Segments", new { RoadId = Model.road.Id }))" class="btn btn-info btn-sm"> Create New Segment</a>
            </div>
        </div>
    </div>


