﻿@model WebManagement.Models.SurveyPhoto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SurveyPhoto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SegmentSurveyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegmentSurveyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeTaken)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
