﻿@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0027)https://www.rescuetime.com/ -->
<html class=" js no-touch csstransitions svg">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="A personal analytics service that shows you how you spend your time and provides tools to help you be more productive." name="description">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>COPACES-CC: The most powerful &amp; convenient pavement management system</title>


    <link rel="stylesheet" media="all" href="https://www.rescuetime.com/stylesheets/marketing_application.css">
    <link rel="stylesheet" media="all" href="https://www.rescuetime.com/assets/marketingsite-5a53220b20f4e5e71454dbf1b9a04fff.css">
    <link href="./RescueTime   Time management software for staying productive and happy in the modern workplace_files/css" rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon" href="https://www.rescuetime.com/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://www.rescuetime.com/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://www.rescuetime.com/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://www.rescuetime.com/touch-icon-ipad-retina.png">

</head>
<body class="page-index">
    <div id="container">


        <section id="content">
            <section class="banner" id="index-banner">
                <div class="content">
                    <h1>Welcome to <strong> The COPACES-CC</strong>. </h1>
                    <p>
                        The Computerized Pavement Condition Evaluation System for Counties &amp;
                        Cities provides a cloud-based one-station
                        solution for pavement management . Easier to use, faster &amp; more powerful
                        than before
                    </p>
                    <p>&nbsp;</p>
                    <p class="call-to-action"><a class="button" href="~/Account/Login">Get Started</a></p>
                </div>
            </section>

            <section class="features" id="how-it-works">
                <h2>How It Works</h2>
                <div class="feature update">
                    <p>Safely saved all data in cloud. Easily track the every survey in the website.</p>
                </div>
                <div class="feature records">
                    <p>Creates a new road survey only with a couple finger touches. Comes with GPS location and real pictures.</p>
                </div>
                <div class="feature reporting">
                    <p>Gives you detailed reports and data summary</p>
                </div>
            </section>

            <section id="notable-features">
                <h2>Notable Features</h2>
                <ul>
                    <li>Provide average survey score trend line, and score distribution. </li>
                    <li>No difficulty to share your data and report with your colleagues.</li>
                    <li>Find every information you want. You are in complete control.</li>
                    <li>How many road surveys you made in a time cycle? COPACES-cc gives you the answers.</li>
                </ul>
            </section>



            <script type="text/javascript" async="" src="./RescueTime   Time management software for staying productive and happy in the modern workplace_files/ga.js"></script>
            <script src="./RescueTime   Time management software for staying productive and happy in the modern workplace_files/marketing_application.js"></script>
            <script src="./RescueTime   Time management software for staying productive and happy in the modern workplace_files/marketingsite-a0128864cd82a69aba1371266e491bd8.js" data-turbolinks-track="false"></script>


</body>
</html>