﻿@model Copaces.CityCounty.Website.Models.DataObjects.SegmentSurvey

@{
    ViewBag.Title = "Delete the selected Survey";
}

<h3>Are you sure you want to delete this?</h3>

    <h4>SegmentSurvey</h4>
    <hr />

<div class="row">
    <div class="col-lg-4">
        <dl class="list-unstyled">
            <dt>
                @Html.DisplayNameFor(model => model.BleedLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BleedLevel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BleedPercentage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BleedPercentage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BlockLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BlockLevel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BlockPercentage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BlockPercentage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CopacesRating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CopacesRating)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CorrugLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CorrugLevel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CorrugPercentage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CorrugPercentage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CrossSlopeLeft)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CrossSlopeLeft)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CrossSlopeRight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CrossSlopeRight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EdgeLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EdgeLevel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EdgePercentage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EdgePercentage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InventId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InventId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsWindshieldSurvey)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsWindshieldSurvey)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LaneDirection)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LaneDirection)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LaneNum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LaneNum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LoadLevel1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoadLevel1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LoadLevel2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoadLevel2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LoadLevel3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoadLevel3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LoadLevel4)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoadLevel4)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LossPavLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LossPavLevel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LossPavPercentage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LossPavPercentage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PatchPotholeNum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PatchPotholeNum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PlaceId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlaceId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rater)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rater)
            </dd>
        </dl>
    </div>
    <div class="col-lg-6">
        <dl class="list-unstyled">
        <dt>
            @Html.DisplayNameFor(model => model.RavelLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RavelLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RavelPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RavelPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReflectLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReflectLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReflectLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReflectLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReflectNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReflectNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoadId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoadId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoadSurveyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoadSurveyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoadSurveyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoadSurveyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutInWp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutInWp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutOutWp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutOutWp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegSurveyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegSurveyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SequenceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SequenceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WindshieldScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WindshieldScore)
        </dd>

        </dl>
    </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*@Html.ActionLink("Back to List", "Index")*@
            <a href="@Url.Action("Index")" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-th-list"></i>&nbsp; Back to List<span class="sr-only"> </span></a>
            <input type="submit" value="Delete" class="btn btn-danger btn-sm" /> 
        </div>
    }

