﻿@model Copaces.CityCounty.Website.Models.SegmentSurveyDetailViewModel
@using Newtonsoft.Json
@using Newtonsoft.Json.Converters

@{
    ViewBag.Title = "Details";
}

@section scripts{
    <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <link rel="StyleSheet" href="~/Content/Site.css" type="text/css" />
    <base href="http://@Request.Url.Authority@Request.ApplicationPath" />
    <script type="text/javascript">
        var map = null;
        var pinLayer, pinInfobox;
        var data = @Html.Raw(JsonConvert.SerializeObject(Model.SurveyPhotos));

        var pushpinFrameHTML = '<div class="infobox"> \
                                    <a class="infobox_close" href="javascript:closeInfobox()"> \
                                        <img src="Content/Asset/close.png"/> \
                                    </a> \
                                    <div class="infobox_content">{content}</div> \
                                </div> \
                                <div class="infobox_pointer"><img src="Content/Asset/pointer_shadow.png"></div>';

        $(document).ready(function ()
        {
            // Initialize the map
            map = new Microsoft.Maps.Map(document.getElementById("mapDiv"), {
                credentials: "Anyi3er2c5rGRqIlssK0j8h0SjflnWoeRp6ZKjfVQ7ZI4p9tYl1gOxuWmnizwbvZ",
                center: new Microsoft.Maps.Location(33.774, -84.396),
                mapTypeId: Microsoft.Maps.MapTypeId.birdseye,
                zoom: 10,
                showScalebar: true
            });

            // set map center
            if (data.length > 0) {
                map.setOptions({center: new Microsoft.Maps.Location(data[0].Latitude, data[0].Longitude)});
            }

            if (data.length==0){
                map.setOptions({center: new Microsoft.Maps.Location(data.Latitude, data.Longitude)});
            }

            //Create two layers, one for pushpins, the other for the infobox. This way the infobox will always be above the pushpins.
            pinLayer = new Microsoft.Maps.EntityCollection();
            map.entities.push(pinLayer);

            // push infobox to infoboxlayer, only need to do once
            var infoboxLayer = new Microsoft.Maps.EntityCollection();
            map.entities.push(infoboxLayer);
            infobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(0, 0), { visible: false, offset: new Microsoft.Maps.Point(0, 20) });
            infoboxLayer.push(infobox);


            // use for loop to take multi images to one pin.

            var pinNumber=1;
            var preLat=0; var preLng=0;
            //var tempPin= new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(data[0].Latitude, data[0].Longitude),{text:'Road Survey  '+pinNumber});
            var tempPin="";
            for (var i = 0;i < data.length;i++){
                var lat = data[i].Latitude;
                var lng = data[i].Longitude;

                var imageUri = data[i].ImageUri;
                var loc = new Microsoft.Maps.Location(lat, lng);


                // case the first loop, don't push pin to the layer
                if (i==0){
                    tempPin = '<image src="' + imageUri + '" height="150" width="150"></image></a>';
                    preLat=lat;
                    preLng=lng;
                }

                // add new image url to the existing pinlayer
                if ( (i!=0) && (((preLat-lat)^2+(preLng-lng)^2)<=0.00001 )  ){
                    tempPin+='<image src="' + imageUri + '" height="150" width="150"></image></a>';
                    preLat=lat;
                    preLng=lng;
                }



                // generate a new pin,
                if((i!=0)  &&  (i!=data.length-1)   && (((preLat-lat)^2+(preLng-lng)^2)>0.00001 )){
                    var pin=new Microsoft.Maps.Pushpin(loc,{text:pinNumber++});
                    pin.description=tempPin;
                    pin.title = "Pav Image";
                    pinLayer.push(pin);
                    Microsoft.Maps.Events.addHandler(pin, 'click', displayInfobox);
                    //Microsoft.Maps.Events.addHandler(map,'viewchange',hideInfobox);

                    tempPin= '<image src="' + imageUri + '" width="300"></image></a>';
                    preLat=lat;
                    preLng=lng;
                }

                if((i==data.length-1) && (((preLat-lat)^2+(preLng-lng)^2)<=0.000001 ) ){
                    var pin=new Microsoft.Maps.Pushpin(loc,{text:pinNumber++});
                    pin.description=tempPin;
                    pin.title = "Pav Image";
                    pinLayer.push(pin);
                    Microsoft.Maps.Events.addHandler(pin, 'click', displayInfobox);
                    //Microsoft.Maps.Events.addHandler(map,'viewchange',hideInfobox);

                }

            };

        });


        function hideInfobox(e){
            infobox.setOptions({visible:false});
        }


        function displayInfobox(e) {
            if (e.targetType == "pushpin") {
                var pin = e.target;

                var html = "<span class='infobox_title'>" + pin.title + "</span><br/>" + pin.description;

                infobox.setOptions({
                    visible: true,
                    offset: new Microsoft.Maps.Point(-33, 20),
                    htmlContent: pushpinFrameHTML.replace('{content}', html)
                });

                //set location of infobox
                infobox.setLocation(pin.getLocation());
                // disable map zoom function
                Microsoft.Maps.Events.removeHandler(map.wheelHandler);
            }
        }

        function closeInfobox(e) {
            infobox.setOptions({ visible: false });
        }
    </script>
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h2>Details</h2>
<div>
    <div class="row">
        <h4>SegmentSurvey</h4>
        <hr />
        <div class="col-md-6">
            <h3>Basic Information</h3>
            <dl class="list-unstyled">
                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.InventId)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.InventId) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.SampleLocation)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.SampleLocation) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.CopacesRating)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.CopacesRating) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.SegSurveyDate)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.SegSurveyDate) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.SequenceId)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.SequenceId) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.TreatmentMethod)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.TreatmentMethod) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.TreatmentYear)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.TreatmentYear) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.WindshieldScore)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.WindshieldScore) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.Remarks)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.Remarks) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.RoadId)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.RoadId) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.RoadSurveyDate)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.RoadSurveyDate) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.RoadSurveyId)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.RoadSurveyId) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.IsWindshieldSurvey)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.IsWindshieldSurvey) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.LaneDirection)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.LaneDirection) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.LaneNum)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.LaneNum) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.PlaceId)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.PlaceId) &nbsp;</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h3>Distress Information</h3>
            <dl class="list-unstyled">
                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.BleedLevel)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.BleedLevel) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.BleedPercentage)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.BleedPercentage) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.BlockLevel)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.BlockLevel) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.BlockPercentage)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.BlockPercentage) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.CorrugLevel)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.CorrugLevel) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.CorrugPercentage)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.CorrugPercentage) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.CrossSlopeLeft)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.CrossSlopeLeft) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.CrossSlopeRight)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.CrossSlopeRight) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.EdgeLevel)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.EdgeLevel) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.EdgePercentage)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.EdgePercentage) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.LoadLevel1)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.LoadLevel1) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.LoadLevel2)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.LoadLevel2) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.LoadLevel3)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.LoadLevel3) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.LoadLevel4)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.LoadLevel4) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.LossPavLevel)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.LossPavLevel) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.LossPavPercentage)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.LossPavPercentage) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.PatchPotholeNum)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.PatchPotholeNum) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.Rater)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.Rater) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.RavelLevel)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.RavelLevel) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.RavelPercentage)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.RavelPercentage) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.ReflectLength)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.ReflectLength) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.ReflectLevel)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.ReflectLevel) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.ReflectNum)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.ReflectNum) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.RutInWp)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.RutInWp) &nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.SegmentSurvey.RutOutWp)</dt>
                <dd>@Html.DisplayFor(model => model.SegmentSurvey.RutOutWp) &nbsp;</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div id='mapDiv' style="position:relative; width:1000px; height:600px;" class="container, col-md-6"></div>
    </div>
</div>
