﻿@model IEnumerable<Copaces.CityCounty.Website.Models.DataObjects.SegmentSurvey>
@using Copaces.CityCounty.Website.Utility;
@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "Segment Survey";
}

<div class="row">
    <div class="col-lg-12">
        <header class="main-box page-header clearfix">
            <h2 class="pull-left">Segment Surveys</h2>
            <div class="filter-block pull-right">
                <div class="form-group pull-left left">
                    <p>
                        <a href="@Url.Action("Search")" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-search"></i>&nbsp; Search Survey Reports<span class="sr-only"> </span></a>
                    </p>
                </div>
            </div>
        </header>

    </div>
</div>

<div class="main-box-body clearfix">
    <div class="table-responsive clearfix">
        <table class="table table-hover table-striped sortable">
            <thead>
                <tr>
                    <th class="text-left">Invent. ID:</th>
                    <th>Road Name</th>
                    <th>Seq. ID</th>
                    <th>Rating</th>
                    <th>Survey Type</th>
                    <th>Lane Direction</th>
                    <th>Lane Num.</th>
                    <th>Rater</th>
                    <th>Survey Date/Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.ActionLink(item.InventId.ToString(), "Details", new { id = item.Id })</td>
                        <td>@Html.DisplayFor(modelItem => ApiHelper.GetRoadById(item.RoadId).Result.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.SequenceId)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.CopacesRating)</td>
                            @if (item.IsWindshieldSurvey)
                                {
                                <td><span class="label label-info cpurple-bg">Windshield</span></td>
                                }
                                else
                                {
                                <td><span class="label label-primary cgreen-bg">&nbsp;COPACES&nbsp;&nbsp;</span></td>
                                }
                        <td>@Html.DisplayFor(modelItem => item.LaneDirection)</td>
                        <td>@Html.DisplayFor(modelItem => item.LaneNum)</td>
                        <td>@Html.DisplayFor(modelItem => item.Rater)</td>
                        <td>@Html.DisplayFor(modelItem => item.SegSurveyDate)</td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })*@
                        @*@Html.ActionLink("Delete", "Delete", "SegmentSurveys",new { id = item.Id }, new { @class = "btn btn-danger" })*@
                            <a href="@Url.Action("Delete", "SegmentSurveys",new { id = item.Id })" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i>&nbsp; Delete<span class="sr-only"> </span></a>
                    </td>
                </tr>
                    }
            </tbody>
        </table>
    </div>
</div>
