﻿@using Microsoft.AspNet.Identity
@using Copaces.CityCounty.Website.Models;
@using System.Data.Entity;
@using System.Web.Helpers;
@using System.Web.Mvc;
@using Copaces.CityCounty.Website.Models;
@using Copaces.CityCounty.Website.Models.DataObjects;
@using Copaces.CityCounty.Website.Utility;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;

@if (Request.IsAuthenticated)
{
    ApplicationDbContext ApplicationDbContext= new ApplicationDbContext();
    UserManager<ApplicationUser> UserManager =UserManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(ApplicationDbContext));
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    
    <ul class="nav navbar-nav navbar-right">
        @*<li>@UserManager.FindById(User.Identity.GetUserId()).PlaceName </li>*@
        <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>Welcome Unregistered Guest!</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
