﻿@model Copaces.CityCounty.Website.Models.ReportViewModel
@using PagedList.Mvc;
@using Copaces.CityCounty.Website.Models.DataObjects;
@using Copaces.CityCounty.Website.Models;
@using Copaces.CityCounty.Website.Utility;

@{
    ViewBag.Title = "Detailed Pavement Condition Survey for " + Model.Jurisdiction + " " + Model.PlaceType;
    Layout = "~/Views/Shared/_Layout_No_NavBar.cshtml";
}

@*How to adjust the title position?*@

<header class="main-box page-header clearfix">
    <div class="filter-block pull-left"><h4>Detailed Pavement Condition Survey for  @Model.Jurisdiction  @Model.PlaceType</h4></div>
    <div class="filter-block pull-right pull-down down">
        <p>Total Road Mileage: @Model.ReportData.TotalLength</p>
        <div class="form-group pull-leftleft">
        <p>Report generated on @Model.dateTime</p>
        </div>
    </div>
</header>

<div class="table-responsive clearfix">
    <table class="table table-hover table-striped sortable">
        <thead>
            <tr>
                <th class="tg-031e" colspan="3">Location</th>
                <th class="tg-031e" colspan="2">Rut Depth</th>
                <th class="tg-031e" colspan="4">Load Cracking</th>
                <th class="tg-031e" colspan="2">Block Cracking</th>
                <th class="tg-031e" colspan="3">Refection Cracking</th>
                <th class="tg-031e" colspan="2">Raveling</th>
                <th class="tg-031e" colspan="2">Edge Distress</th>
                <th class="tg-031e" colspan="2">Bleeding/ Flushing</th>
                <th class="tg-031e" colspan="2">Corrugation/ Pushing</th>
                <th class="tg-031e" colspan="2">Loss Pavement Section</th>
                <th class="tg-031e" colspan="1"> </th>
                <th class="tg-031e" colspan="1">COPACES Rating</th>
                <th class="tg-031e" colspan="1">Windshild Survey</th>
            </tr>
            <tr>
                <td class="tg-031e">Road Name</td>
                <td class="tg-031e">Survey Date</td>
                <td class="tg-031e">Inventory Id</td>
                <td class="tg-031e">Outside WP(1/8 in)</td>
                <td class="tg-031e">Inside WP(1/8）</td>
                <td class="tg-031e">Severity1</td>
                <td class="tg-031e">Severity2</td>
                <td class="tg-031e">Severity3</td>
                <td class="tg-031e">Severity4</td>
                <td class="tg-031e">% of Sample</td>
                <td class="tg-031e">Severity(1,2,3)</td>
                <td class="tg-031e">No. of Cracks</td>
                <td class="tg-031e">Total Length</td>
                <td class="tg-031e">Severity(1,2,3)</td>
                <td class="tg-031e">% of Sample</td>
                <td class="tg-031e">Severity(1,2,3)</td>
                <td class="tg-031e">% of Sample</td>
                <td class="tg-031e">Severity(1,2,3)</td>
                <td class="tg-031e">% of Sample</td>
                <td class="tg-031e">Severity(1,2,3)</td>
                <td class="tg-031e">% of Sample</td>
                <td class="tg-031e">Severity(1,2,3)</td>
                <td class="tg-031e">% of Sample</td>
                <td class="tg-031e">Severity(1,2,3)</td>
                <td class="tg-031e">Patches & Potholes</td>
                <td class="tg-031e"> </td>
                <td class="tg-031e"> </td>
            </tr>
        </thead>
        <tbody>
            @{
                var allSurveys = Model.SegmentSurveys;
                foreach (var item in Model.SegmentSurveys)
                {
                    var road = ApiHelper.GetRoadById(item.RoadId).Result;
                    var seg = ApiHelper.GetSegmentByRoadIdAndSequenceId(item.RoadId, item.SequenceId).Result;
                    <tr>
                        <td>@road.Name</td>
                        <td>@Html.DisplayFor(modelItem => item.SegSurveyDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.InventId)</td>
                        <td>@item.RutOutWp</td>
                        <td>@item.RutInWp</td>
                        <td>@item.LoadLevel1</td>
                        <td>@item.LoadLevel2</td>
                        <td>@item.LoadLevel3</td>
                        <td>@item.LoadLevel4</td>
                        <td>@item.BlockPercentage</td>
                        <td>@item.BlockLevel</td>
                        <td>@item.ReflectNum</td>
                        <td>@item.ReflectLength</td>
                        <td>@item.ReflectLevel</td>
                        <td>@item.RavelPercentage</td>
                        <td>@item.RavelLevel</td>
                        <td>@item.EdgePercentage</td>
                        <td>@item.EdgeLevel</td>
                        <td>@item.BleedPercentage</td>
                        <td>@item.BleedLevel</td>
                        <td>@item.CorrugPercentage</td>
                        <td>@item.CorrugLevel</td>
                        <td>@item.LossPavPercentage</td>
                        <td>@item.LossPavLevel</td>
                        <td>@item.PatchPotholeNum</td>
                        @if (item.CopacesRating != null)
                        {
                            <td><b>@item.CopacesRating</b></td>}
                        else
                        {
                            <td></td>}
                        @if (item.IsWindshieldSurvey)
                        {
                            <td class="text-center"><b>@Html.DisplayFor(modelItem => item.WindshieldScore)</b></td> }
                        else
                        {
                            <td>  </td>}
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
