﻿@model Copaces.CityCounty.Website.Models.ReportViewModel
@using PagedList.Mvc;
@using Copaces.CityCounty.Website.Models.DataObjects;
@using Copaces.CityCounty.Website.Models;
@using Copaces.CityCounty.Website.Utility;

@{
    ViewBag.Title = "Segment Condition Summary for " + Model.Jurisdiction + " " + Model.PlaceType;
    Layout = "~/Views/Shared/_Layout_No_NavBar.cshtml";
}

@*How to adjust the title position?*@

<header class="main-box page-header clearfix">
    <div class="filter-block pull-left"><h4>Segment Condition Summary for  @Model.Jurisdiction  @Model.PlaceType</h4></div>
    <div class="filter-block pull-right pull-down down">
        <p>Total Road Mileage: @Model.ReportData.TotalLength</p>
        <div class="form-group pull-leftleft">
            <p>Report generated on @Model.dateTime</p>
        </div>
    </div>
</header>

<div class="table-responsive clearfix">
    <table class="table table-hover table-striped sortable">
        <thead>
            <tr>
                <th>District</th>
                <th>Road ID</th>
                <th>Road Name</th>
                <th>Inventory ID</th>
                <th>From</th>
                <th>To</th>
                <th>Survey Date</th>
                <th>COPACES Rating</th>
                <th>Windshield Score</th>
            </tr>
        </thead>
        <tbody>
            @{
                var allSurveys = Model.SegmentSurveys;
                foreach (var item in Model.SegmentSurveys)
                {
                    var road = ApiHelper.GetRoadById(item.RoadId).Result;
                    var seg = ApiHelper.GetSegmentByRoadIdAndSequenceId(item.RoadId, item.SequenceId).Result;
                    <tr>
                        <td>@road.District</td>
                        <td>@item.RoadId</td>
                        <td>@road.Name</td>
                        <td>@Html.DisplayFor(modelItem => item.InventId)</td>
                        <td>@seg.From</td>
                        <td>@seg.To</td>
                        <td>@Html.DisplayFor(modelItem => item.SegSurveyDate)</td>
                        @if (item.CopacesRating != null)
                        {
                            <td><b>@item.CopacesRating</b></td>}
                        else
                        {
                            <td></td>}
                        @if (item.IsWindshieldSurvey)
                        {
                            <td class="text-center"><b>@Html.DisplayFor(modelItem => item.WindshieldScore)</b></td> }
                        else
                        {
                            <td>  </td>}
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
